<div class="form-group row">
    <label class="col-sm-2 col-form-label my-1">Book Name</label>
    <div class="col-sm-10 my-1">
        <input type="text" class="form-control" [(ngModel)]="BookName" placeholder="Enter Book Name">
    </div>
    <label class="col-sm-2 col-form-label my-1">Author</label>
    <div class="col-sm-10 my-1">
        <input type="text" class="form-control" [(ngModel)]="Author" placeholder="Enter Author">
    </div> 
    <label class="col-sm-2 col-form-label my-1">Price</label>
    <div class="col-sm-10 my-1">
        <input type="text" class="form-control" [(ngModel)]="Price" placeholder="Enter Price">
    </div>
    <label class="col-sm-2 col-form-label my-1">Publishing Date</label>
    <div class="col-sm-10 my-1">
        <input type="date" class="form-control" [(ngModel)]="PublishingDate" placeholder="Enter Publishing Date">
    </div>
</div>
<button (click)="addBook()" class="btn btn-primary">Add Book</button>